.dashboard-doctor {
    border: 1px solid #778899;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: 7em 6em;
    background-color: white;
}

.dashboard-doctor--background {
    min-height: 100vh;
    background-color: #999999;
    padding: 40px;
    font-weight: bolder;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}