.doctor-addresses {
    font-weight: bolder;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 1px solid #778899;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 20px 35px;
    background-color: #F0F8FF;
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 4em;
}

.doctor-addresses-title {
    color: black;
    font-size: 1em;
    padding-top: 10px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    margin-left: 1em;
}

.doctor-addresses-new {
    display: flex;
    padding-bottom: 1em;
    margin-left: 1em;
}

.doctor-addresses-message {
    text-align: center;
    color: black;
    margin-top: 4em;
    font-size: 1.3em;
}