.schedule-doctor {
    min-height: 100vh;
    background-color: #999999;
    padding: 40px;
    font-weight: bolder;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 4em;
}