.signup {
    min-height: 100vh;
    /*background-image: url("../../assets/img/cadastro.jpg");*/
    font-weight: bolder;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F8FBFF;
    position: relative;
    width: 100%;
}

.signup__body {
    display: flex;
    padding: 10px 35px;
    padding-top: 10%;
    text-align: center;
}

.signup__img-doctor {
    margin-bottom: 20px;
    width: 25%;
}

.signup__img-petient {
    width: 30%;
}

.signup__item {
    justify-items: center;
    border: 1px solid #778899;
    background-color: white;
    border-radius: 10px;
    padding: 10px 35px;
    background-color: white;
    margin: 25px;
    padding: 25px;
    text-align: center;
    font-size: x-large;
    display: inline-block;
}

@media all and (min-width: 900px) {
    .signup__item {
        max-width: 30%;
        margin: auto;
    }
}

h4 {
    padding-top: 40px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.row {
    margin-right: 0 !Important; 
    margin-left: 0 !Important;
}