.calendar {
    margin: 100px;
    position: relative;
    z-index: 0;
}

.fc-title {
    text-transform: lowercase;
    display: inline-block;
}

.fc-title::first-line {
    text-transform: capitalize;
}

/* .fc-list-item-title {
    text-transform: lowercase;
    display: inline-block;
}

.fc-list-item-title::first-line {
    text-transform: capitalize;
} */