@media all and (max-width: 600px) {
    .search-page {
        padding: 20% 0% !important;
    }

    .search-page__form {
        width: 100% !important;    
        margin-top: 50px !important;
    }
}

@media all and (min-width: 900px) {
    .search-page__form {
        margin-top: 40px !important;
    }
}

.search-page {
    min-height: 100vh;
    background-color: #f5f5f5;
    padding: 6em 4em;
    font-weight: bolder;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    padding-bottom: 0 !important;
}

.search-page__form {
    font-weight: bolder;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 1px solid #778899;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-radius: 10px;
    position: relative;
    width: 80%;
    margin: auto;
}

.search-padding{
    padding: 30px 45px;
}