.dashboard-patient {
    min-height: 100vh;
    background-image: url("../../assets/img/agenda.jpg");
    padding: 40px;
    font-weight: bolder;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.dashboard-patient__doctor {
    background-color: #3788d8;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1em;
}