@media all and (max-width: 600px) {
    .signup-doctor {
        padding: 0px !important;
    }
    .signup-doctor__form {
        width: 100% !important;
    }
}

@media all and (min-width: 601px) and (max-width: 1024px) {
    .signup-doctor__form {
        width: 70% !important;
    }
}

.signup-doctor {
    min-height: 100vh;
    background-color: #f5f5f5;
    padding: 40px;
    font-weight: bolder;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.signup-doctor__form {
    background-color:white;
    font-weight: bolder;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 1px solid #778899;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 30px 45px;
    position: relative;
    width: 40%;
    margin: auto;
}

.signup-doctor--field {
    font-size: 1rem;
    font-weight: 400;
    background-color: white;
}

.signup-doctor--position {
    top: auto !important;
}

.signup-doctor-img {
    display: block;
    margin: 20px auto;
    border: 2px solid #778899;
    border-radius: 5px;
}

.form-size{
    margin-top: 7px !important;
    margin-bottom: 7px !important;
}

.forgot-password{
    padding: 0 !important;
}

.btn-margin{
    margin-top: 10px !important;
}

p.text_family{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}